* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 16px;
  font-family: system-ui, sans-serif;
  font-size: 50px;
}

.card {
  background-color: rgb(255, 255, 255);
  width: 22%;
  border-radius: 8px;
}

.close {
  display: flex;
  position: absolute;
  margin-left: 285px;
  margin-top: -12px;
  background-color: rgb(255, 0, 0);
  border-radius: 25px;
  width: 50px;
  height: 50px;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  color: aliceblue;
  z-index: 100;
}

.badge {
  border-radius: 8px 8px 0 0;
  border: 0.4px solid grey;
  padding: 16px;
}

h4 {
  margin-top: -0.5px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  border: 0.4px solid grey ;
  border-radius: 0 0 8px 8px;
}

/* write code here */
